<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>My Portfolio</title>
</head>
<body>
    <div class="content"> 
        <h1 >Seus projetos</h1>
        <div class="grid-container">
            <a th:href="'/user/login/'" >
                <div class="grid-item"><img src="/img/perfil.png/" alt="Foto 4">
                    <div id="Title-post">Perfil</div>
                </div>
            </a>
            <a th:href="'/user/personalizar/' " ><div class="grid-item">
                <img src="/img/personalizar.png/" alt="Foto 1">
            <div id="Title-post">Personaliza</div></div></a>
            <a th:href="'/' + ${user.username}" target="_blank" method="post" >
                <div  class="grid-item"><img src="/img/portfolio.png/" alt="Foto 2">
                    <div id="Title-post" >Portfolio</div>
                </div>
            </a>
            <a th:href="'/post/creater/'" method="post">
                <div class="grid-item">
                    <img  src="/img/post.png/" alt="Foto 3">
                    <div id="Title-post" >Postar</div>
                </div>
            </a>
            <a th:href="'/post/getPost/'" method="post">
                <div class="grid-item">
                    <img style="filter: invert();" src="/img/projetos.png/" alt="Foto 4">
                    <div id="Title-post">Projetos</div>
                </div>
            </a>
            
            <a href="/user/logout/" >
                <div class="grid-item"><img src="/img/sair.png/" alt="Foto 4">
                    <div id="Title-post">Sair</div>
                </div>
            </a>
        </div>
        <div id="divisor"></div>
        <th:block th:if="${posts.empty}">
            <div class="grid-container-empty">
                <p>Nenhum projeto cadastrado.</p>
            </div>
        </th:block>
        <th:block th:if="${not posts.empty}">
            <div class="grid-container-post">
                <div th:each="post : ${posts}">
                    <a th:href="${post.github}"  target="_blank">
                        <div  class="grid-item" style=" width: 100%; height: 100%;">
                            <img alt="" th:src="*{'/postagens/'+{post.id} +'/'+{post.img}}" style="width: 100px;height: 100px;">
                            <div th:text="${post.titulo}" id="Title-post" >Portfolio</div>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
        <div class="footer">
            <footer>
                <p style="margin: 0;">&copy; 2024 Jonathan Julio - Todos os direitos reservados.</p>
            </footer>
        </div> 
    </div>
</body>
</html>