<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>My Portfolio</title>
</head>
<body>
    <div class="content"> 
        <h1>Poste seu projeto</h1>
        <div class="grid-container">
            <a th:href="'/user/login/'" >
                <div class="grid-item"><img src="/img/perfil.png/" alt="Foto 4">
                    <div id="Title-post">Perfil</div>
                </div>
            </a>
            <a th:href="'/user/personalizar/' " ><div class="grid-item">
                <img src="/img/personalizar.png/" alt="Foto 1">
            <div id="Title-post">Personaliza</div></div></a>
            <a th:href="'/' + ${user.username}" target="_blank" method="post" >
                <div  class="grid-item"><img src="/img/portfolio.png/" alt="Foto 2">
                    <div id="Title-post" >Portfolio</div>
                </div>
            </a>
            <a th:href="'/post/creater/'" method="post">
                <div class="grid-item">
                    <img style="filter: invert();" src="/img/post.png/" alt="Foto 3">
                    <div id="Title-post" >Postar</div>
                </div>
            </a>
            <a th:href="'/post/getPost/'" method="post">
                <div class="grid-item"><img src="/img/projetos.png/" alt="Foto 4">
                    <div id="Title-post">Projetos</div>
                </div>
            </a>
            
            <a href="/user/logout/" >
                <div class="grid-item"><img src="/img/sair.png/" alt="Foto 4">
                    <div id="Title-post">Sair</div>
                </div>
            </a>
        </div>
        <div id="divisor"></div>
        <div class="container-form">
            <form action="#" th:action="@{/post/setPost/}" method="post" enctype="multipart/form-data">
                <div class="post">
                    <div style="flex: 1;">
                        <label for="titulo">Titulo:</label>
                        <input style="width: 100%;" th:field="*{post.titulo}" type="text" id="titulo" name="titulo" required placeholder="Ficara abaixo da foto do seu projeto."><br>
                    </div>
                
                    <div style="flex: 1; ">
                        <label for="textoSecundario">Descrição:</label>
                        <textarea  style="width: 100%; height: 50px;" th:field="*{post.descricao}" type="text" id="textoSecundario" name="textoSecundario" required placeholder="Futuramente sera usado na pagina do projeto. Atualmente apenas abre o link do github."></textarea><br>
                    </div>
                
                    <div style="flex: 1;">
                        <label for="about">Link do github:</label>
                        <input  style="width: 100%;" th:field="*{post.github}" id="about" name="github" required placeholder="Ex: https://github.com/jonathan-julio/"><br>
                    </div><br>
                    <label for="usuarios">Usuarios:</label>
                    
                    <div style="max-width: 100%;">
                        <div th:each="usuario : ${usuarios}" style="display: inline-block; max-width: 200px; margin-right: 10px;">
                            <input th:field="*{post.usuarios}" 
                                type="checkbox" 
                                th:value="${usuario.id}" 
                                th:text="${usuario.username}" 
                                th:disabled="${usuario.id == user.id}" />
                        </div>
                    </div><br><br>
                    <label for="image">Imagem:</label>
                </div>
                
                <div style="flex: 1; margin-right: 100%;">
                    
                    <input type="file" id="image" name="file" accept="image/jpeg" required><br>
                </div><br><br>
            
                <button type="submit">Cadastrar</button>
            </form>
        </div>
        <div class="footer">
            <footer>
                <p style="margin: 0;">&copy; 2024 Jonathan Julio - Todos os direitos reservados.</p>
            </footer>
        </div>
    </div>  
</body>
</html>
<!-- 
ustify-content: center;
            align-items: start;
            text-align: center; -->