<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png">
    
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        input[type="text"],
        input[type="password"] {
            width: 94%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
        <span><a id="headerLink" href="/">Home</a></span>
        <span><a id="headerLink" href="/sign-Up/">Sign Up</a></span>
    </header>
    <div class="container">
        <h1>Login</h1>
        <form th:action="@{/user/login/}" method="post">
            <label for="username">Usuário</label>
            <input th:field="*{user.username}" type="text" id="username" name="username" required>

            <label for="password">Senha</label>
            <input th:field="*{user.password}" type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <a id="reset" href="#">Esqueceu a senha?</a>
    </div>
    <div class="footer">
        <footer>
            <p style="margin: 0;">&copy; 2024 Jonathan Julio - Todos os direitos reservados.</p>
        </footer>
    </div> 
</body>
</html>