<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>

        input[type="text"],
        input[type="date"]{
            width: 95%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        select {
            width: 99%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }

       
    </style>
</head>
<body>
    <header>
        <span><a id="headerLink" href="/">Home</a></span>
        <span><a id="headerLink" href="/login/">Login</a></span>
    </header>
    <div class="container-signup">
        <div class="post">
            <h1>Cadastro</h1>
            <form action="#" th:action="@{/user/creater-user/}" method="post">
                <label for="texto">Texto:</label>
                <input th:field="*{profile.texto}" type="text" id="texto" name="texto" required>
            
                <label for="textoSecundario">Texto Secundário:</label>
                <input th:field="*{profile.textoSecundario}" type="text" id="textoSecundario" name="textoSecundario" required>
            
                <label for="about">Sobre:</label>
                <textarea th:field="*{profile.about}" id="about" name="about" rows="4" cols="50" required></textarea>
            
                <label for="color">Cor:</label>
                <input th:field="*{profile.color}" type="color" id="color" name="color" value="#ffffff" required>
            
                <label for="background">Background:</label>
                <input th:field="*{profile.background}" type="color" id="background" name="background" value="#f0f0f0" required>
            
                <label for="nome">Nome:</label>
                <input th:field="*{person.nome}" type="text" id="nome" name="nome" required>
            
                <label for="data">Data:</label>
                <input th:field="*{person.data}" type="date" id="data" name="data" th:value="${person.data}" required>
            
                <label for="sexo">Sexo:</label>
                <select th:field="*{person.sexo}" id="sexo" name="sexo" required>
                    <option th:value="female">Feminino</option>
                    <option th:value="male">Masculino</option>
                    <option th:value="other">Outro</option>
                    
                    
                </select>
    
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" required>
    
                <label for="username">Usuário</label>
                <input type="text" id="username" name="username" required>
    
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            
                <button type="submit">Cadastrar</button>
            </form>
            
        </div>

    </div>
    <div class="footer">
        <footer>
            <p style="margin: 0;">&copy; 2024 Jonathan Julio - Todos os direitos reservados.</p>
        </footer>
    </div> 
    
</body>
</html>