<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>My Portfolio</title>
</head>
<body>
    <div class="content"> 
        <h1 th:text="'Personalizar dados do portfolio'">Area de trabalho</h1>
            <div class="grid-container">
                <a th:href="'/user/login/'" >
                    <div class="grid-item"><img src="/img/perfil.png/" alt="Foto 4">
                        <div id="Title-post">Perfil</div>
                    </div>
                </a>
                <a th:href="'/user/personalizar/' " ><div class="grid-item">
                    <img style="filter: invert();" src="/img/personalizar.png/" alt="Foto 1">
                <div id="Title-post">Personaliza</div></div></a>
                <a th:href="'/' + ${user.username}" target="_blank" method="post" >
                    <div  class="grid-item"><img src="/img/portfolio.png/" alt="Foto 2">
                        <div id="Title-post" >Portfolio</div>
                    </div>
                </a>
                <a th:href="'/post/creater/'" method="post">
                    <div class="grid-item"><img src="/img/post.png/" alt="Foto 3">
                        <div id="Title-post" >Postar</div>
                    </div>
                </a>
                <a th:href="'/post/getPost/'" method="post">
                    <div class="grid-item"><img src="/img/projetos.png/" alt="Foto 4">
                        <div id="Title-post">Projetos</div>
                    </div>
                </a>
                
                <a href="/user/logout/" >
                    <div class="grid-item"><img src="/img/sair.png/" alt="Foto 4">
                        <div id="Title-post">Sair</div>
                    </div>
                </a>
            </div>
            <div id="divisor"></div>
            <div class="container-form">
                    <form  th:action="@{/personalizar/setProfile/}" method="post">
                        <div class="post">
                            <label for="texto">Texto:</label>
                            <input style="width: 100%;" th:field="*{profile.texto}" th:value="${profile.texto}" type="text" id="texto" name="texto" placeholder="Esse texto ficará no lado esquerdo do topo da pagina."><br>
                            
                            <label for="textoSecundario">Texto Secundario:</label>
                            <textarea th:field="*{profile.textoSecundario}" th:value="${profile.textoSecundario}" type="text" id="textoSecundario" name="textoSecundario" placeholder="Esse texto ficará no lado direito do topo da pagina."></textarea><br>
                    
                            <label for="about">About:</label>
                            <textarea th:field="*{profile.about}" th:value="${profile.about}" id="about" name="about" rows="4" cols="50" placeholder="Esse texto no About. limite de 4000 caracteres."></textarea><br>
                    
                            <label for="color">Color:</label><br>
                            <input th:field="*{profile.color}" th:value="${profile.color}" type="color" id="color" name="color" ><br>
                            <span style="font-size: 12px; color: rgb(40, 40, 40);"> (Essa será a cor principal das letras do seu portfolio) </span><br><br>
                    
                            <label for="background">Background:</label><br>
                            <input  th:field="*{profile.background}" th:value="${profile.background}" type="color" id="color" name="background"><br>
                            <span style="font-size: 12px; color: rgb(40, 40, 40);"> (Essa será a cor do background do seu portfolio) </span><br><br><br>
                            
                            
                        </div>
                        <button type="submit">Alterar</button>
                    </form>
                </div>
            </div>
    </div>
    <div class="footer">
        <footer>
            <p >&copy; 2024 Jonathan Julio - Todos os direitos reservados.</p>
        </footer>
    </div> 
</body>
</html>