<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>My Portfolio</title>
</head>
<body>
    <div class="content"> 
        <h1 th:text="'Seja bem vindo ' + ${person.nome}">Area de trabalho</h1>
            <div class="grid-container">
                <a th:href="'/user/login/'" >
                    <div class="grid-item">
                        <img style="filter: invert();" src="/img/perfil.png/" alt="Foto 4">
                        <div id="Title-post">Perfil</div>
                    </div>
                </a>
                <a th:href="'/user/personalizar/' " ><div class="grid-item">
                    <img src="/img/personalizar.png/" alt="Foto 1">
                <div id="Title-post">Personaliza</div></div></a>
                <a th:href="'/' + ${user.username}" target="_blank" method="post" >
                    <div  class="grid-item"><img src="/img/portfolio.png/" alt="Foto 2">
                        <div id="Title-post" >Portfolio</div>
                    </div>
                </a>
                <a th:href="'/post/creater/'" method="post">
                    <div class="grid-item"><img src="/img/post.png/" alt="Foto 3">
                        <div id="Title-post" >Postar</div>
                    </div>
                </a>
                <a th:href="'/post/getPost/'" method="post">
                    <div class="grid-item"><img src="/img/projetos.png/" alt="Foto 4">
                        <div id="Title-post">Projetos</div>
                    </div>
                </a>
                
                <a href="/user/logout/" >
                    <div class="grid-item"><img src="/img/sair.png/" alt="Foto 4">
                        <div id="Title-post">Sair</div>
                    </div>
                </a>
            </div>
            <div id="divisor"></div>
            <div class="container-form">
                <div class="post">
                    <table>
                        <tr>
                            <td>Nome:</td>
                            <td th:text="${person.nome}"></td>
                        </tr>
                        <tr>
                            <td>Data:</td>
                            <td th:text="${person.data}"></td>
                        </tr>
                        <tr>
                            <td>Sexo:</td>
                            <td th:text="${person.sexo}"></td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
    <div class="footer">
        <footer>
            <p >&copy; 2024 Jonathan Julio - Todos os direitos reservados.</p>
        </footer>
    </div> 
</body>
</html>